<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章列表 - 我的技术博客</title>
</head>
<body>
    <h1>所有文章</h1>
    <ul>
        {{ range $key, $article := . }}
        <li>
            <a href="{{ $article.Link }}">
                <strong>{{ $article.ID }}</strong>:
                {{ $article.Title }}
            </a>
        </li>
        {{ end }}
    </ul>
</body>
</html>