{{define "title"}}
  关于我们
{{end}}

{{define "main"}}
  <div class="col-md-9 blog-main">
    <div class="blog-post bg-white p-5 rounded shadow mb-4">

      <p>此博客是用以记录编程笔记，如您有反馈或建议，请联系 <a href="mailto:hyuiing@163.com">hyuiing@163.com</a></p>

    </div><!-- /.blog-post -->
  </div>

{{end}}